@import url("https://fonts.cdnfonts.com/css/games");
@import url("https://fonts.cdnfonts.com/css/intterno");
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Games", sans-serif;
  color: red;
}

body {
  background: black;
  background-size: 100vw 100vh;
}
/*title*/
h1 {
  position: relative;
  margin: auto;
  padding: 1rem;
  border-radius: 2rem;
  width: 60%;
  top: 1rem;
  right: 2rem;
  background-color: rgb(15, 15, 15);
  text-align: center;
}

/*Formulario*/
.formOne{
  position: absolute;
  padding: 2rem;
  margin: auto;
  top: 8rem;
  left: 15rem;
  width: 60%;
  background-color: rgb(15, 15, 15);
  border-radius: 2rem;
}
.text-Checkbox {
  width: 100%;
  border-radius: 0.3rem;
  text-align: center;
  font-family: "INTTERNO", sans-serif;
  font-size: 2rem;
}
.text-password {
  width: 100%;
  border-radius: 0.3rem;
  text-align: center;
  font-size: 2rem;
}
.container {
  background-color: rgb(12, 12, 12);
  box-shadow: 1px 7px 25px rgba(70, 64, 64, 0.7);
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
}


/*Buttons*/
.Container-Buttons {
  position:absolute;
  width: 45%;
}
.btn-form {
  width: 45%;
  padding: 0.5rem 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
}


@media screen and (min-width: 100px) {
  /*title*/
  h1 {
    position: absolute;
    font-size: 2rem;
    top: 1rem;
    left: 1rem;
  }

  /*Buttons*/
  .Container-Buttons {
    top: 8rem;
    left: 1rem;
    width: 80%;
  }
  .btn-Modal {
    margin: 0.2rem;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 200px) {
  /*title*/
  h1 {
    position: absolute;
    font-size: 1.8rem;
    top: 1rem;
    left: 0.5rem;
  }

  /*Buttons*/
  .Container-Buttons {
    top: 4rem;
    left: 0.8rem;
    width: 80%;
  }
  .btn-Modal {
    margin: 0.2rem;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 300px) {
  /*title*/
  h1 {
    position: absolute;
    font-size: 2.5rem;
    top: 1rem;
    left: 2rem;
  }

  /*Buttons*/
  .Container-Buttons {
    position: absolute;
    top: 4.5rem;
    left: 2rem;
    width: 80%;
  }
  .btn-Modal {
    margin: 0.2rem;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 400px) {
  /*title*/
  h1 {
    position: absolute;
    font-size: 3.5rem;
    top: 1rem;
    left: 1.5rem;
  }

  /*Buttons*/
  .Container-Buttons {
    position: absolute;
    top: 4.5rem;
    left: 1rem;
    width: 80%;
    margin: auto;
  }
  .btn-Modal {
    margin: 0.2rem;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 500px) {
  /*title*/
  h1 {
    position: absolute;
    font-size: 4rem;
    top: 1rem;
    left: 2rem;
    display: inline-block;
  }

  /*Buttons*/
  .Container-Buttons {
    position: absolute;
    top: 5rem;
    right: 1rem;
    width: 80%;
    margin: auto;
  }
  .btn-Modal {
    margin: 0.2rem;
    width: 45%;
    padding: 0.5rem 0.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 600px) {
  /*title*/
  h1 {
    position: absolute;
    font-size: 3rem;
    top: 1rem;
    left: 1rem;
    display: inline-block;
  }

  /*Buttons*/
  .Container-Buttons {
    position: relative;
    top: 1rem;
    left: 35%;
    width: 40%;
    margin: auto;
  }
  .btn-Modal {
    margin: 0.2rem;
    width: 35%;
    padding: 0.5rem 0.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 700px) {
  /*title*/
  h1 {
    position: absolute;
    font-size: 3.5rem;
    top: 1rem;
    left: 1rem;
    display: inline-block;
  }

  /*Buttons*/
  .Container-Buttons {
    position: relative;
    top: 1.5rem;
    left: 35%;
    width: 25%;
    margin: auto;
  }
  .btn-Modal {
    margin: 0.2rem;
    width: 45%;
    padding: 0.5rem 0.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }
}
